@font-face {
  font-family: "Urbanist";
  src: url(fonts/urbanist-latin-400-normal.woff) format("woff");
}

@font-face {
  font-family: "Playfair Display";
  src: url(fonts/playfair-display-latin-400-normal.woff) format("woff");
}

@font-face {
  font-family: "Code";
  src: url(fonts/FontWithASyntaxHighlighter-Regular.woff2) format("woff2");
}

html {
  font-size: 24px;
}

body {
  font-family: Urbanist, sans-serif;
}

h2 {
  font-size: 18px;
  font-weight: normal;
}

h2,
h3 {
  font-family:
    Playfair Display,
    serif;
  color: #52525b;
  margin-bottom: 0.1rem;
}

h3 a {
  text-decoration: none;
}

h3 a:hover {
  text-decoration: underline;
}

a {
  /* background-color: #52525b;
  text-decoration: none;
  display: inline-block;
  padding: 0 0.2rem;
  color: white; */
  color: #52525b;
}

a:hover {
  background-color: #52525b;
  color: white;
}

h3 a {
  background-color: unset;
  color: #52525b;
}

.home {
  display: flex;
  flex-direction: column;
  justify-content: center;
  justify-items: center;
  height: 100vh;
  margin-top: -100px;
}

.main {
  display: flex;
  flex-direction: column;
  gap: 4rem;
  text-align: center;
}

footer {
  margin-top: 4rem;
}

footer > div {
  max-width: 768px;
  margin: auto;
}

.blog > div {
  max-width: 768px;
  margin: auto;
}

.blog img {
  max-width: 768px;
}

.blog section {
  margin-top: 3rem;
}

.blog iframe {
  margin-top: 1rem;
  max-width: 95%;
}

.blog .goBack {
  margin-top: 3rem;
}

.iframe-container {
  position: relative;
  overflow: hidden;
  width: 100%;
  padding-top: 56.19%; /* 16:9 Aspect Ratio (divide 9 by 16 = 0.5625) */
}

/* Then style the iframe to fit in the container div with full height and width */
.iframe {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
}

.links {
  display: flex;
  justify-content: center;
  gap: 4rem;
}

.date {
  font-size: 0.7rem;
  color: rgb(109, 108, 108);
}

.postContent {
  margin-top: 2rem;
}

.title {
  display: flex;
  align-items: baseline;
  gap: 0.4rem;
}

@media (max-width: 768px) {
  .links {
    flex-direction: column;
  }

  .separator {
    display: none;
  }
}

pre:has(code) {
  margin-top: 1rem;
  border-top: 1px solid rgb(196, 196, 196);
  border-bottom: 1px solid rgb(196, 196, 196);
  background-color: rgb(46, 46, 46);
  color: white;
}

code {
  display: inline-block;
  padding: 0.8rem 0;
  font-size: 0.95rem;
  margin-left: 0.8rem;
  font-size: 0.8rem;
  font-family: Code, "monospace";
}

blockquote {
  position: relative;
  color: rgb(109, 108, 108);
  margin: 1rem 0 20px;
  padding: 0 20px 0 45px;
  border-left: 0.2em solid #7d3d3d;
}

blockquote p {
  font-size: 0.95rem;
  display: block;
  margin: 0;
  padding: 0;
}

blockquote:before {
  content: "\201C";
  position: absolute;
  left: 10px;
  top: 5px;
  font-size: 2rem;
}

blockquote:after {
  content: "\201D";
  position: absolute;
  right: 10px;
  top: 50px;
  font-size: 2rem;
}


.pagination {
  margin: 0;
  margin-top: 4rem;
  padding: 0;
  list-style: none;
  display: flex;
}

.pagination li {
  padding-right: 2rem;
}

.pagination li a {
  display: inline-block;
  width: 1rem;
  text-align: center;
}

.pagination li a[aria-current] {
  background-color: #52525b;
  color: white;
  text-decoration: none;
}

.tagList ul {
  list-style: none;
  margin: 0;
  display: flex;
  padding: 0;
  margin-top:0.5rem;
}

.tagList ul li {
  padding-right: 0.5rem;
  font-style: italic;
  font-size: 0.7rem;
  color: rgb(109, 108, 108);
}



s {
text-decoration-thickness: 0.2rem;
}
