@font-face {
  font-family: "Urbanist";
  src: url(fonts/urbanist-latin-400-normal.woff) format("woff");
}

@font-face {
  font-family: "Playfair Display";
  src: url(fonts/playfair-display-latin-400-normal.woff) format("woff");
}

body {
  font-size: 24px;
  font-family: Urbanist, sans-serif;
}

h2 {
  font-size: 18px;
  font-weight: normal;
}

h2,
h3 {
  font-family:
    Playfair Display,
    serif;
}

h3 a {
  text-decoration: none;
}

h3 a:hover {
  text-decoration: underline;
}

a {
  color: #52525b;
}

.home {
  display: flex;
  flex-direction: column;
  justify-content: center;
  justify-items: center;
  height: 100vh;
  margin-top: -100px;
}

.main {
  display: flex;
  flex-direction: column;
  gap: 4rem;
  text-align: center;
}

.blog > div {
  max-width: 768px;
  margin: auto;
}

.blog section {
  margin-top: 6rem;
}

.blog iframe {
  margin-top: 2rem;
}

.links {
  display: flex;
  justify-content: center;
  gap: 4rem;
}

@media (max-width: 768px) {
  .links {
    flex-direction: column;
  }

  .separator {
    display: none;
  }
}
