<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
	      <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Codedump</title>
        <link rel="stylesheet" href="/bundle.css">
    </head>
    <body class="blog">
        <div>
            <h1>{{ pageTitle }}</h1>

            <h2>
            Code, Arts, Photography, everything that interests me.
            </h2>

            {{ content }}
        </div>
    </body>
</html>
