<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
      Codedump -
      {{ title }}
    </title>
    <link rel="stylesheet" href="/bundle.css">
    <script src="https://player.vimeo.com/api/player.js"></script>
  </head>
  <body class="blog">
    <div>
      {% block content %}

      {% endblock content %}
    </div>

    <footer>
      <div>
        <a href="https://stefanheinemann.ch/kontakt/">Contact Me!</a>
      </div>
    </footer>
  </body>
</html>
