{% layout "layout" %}
{% block "content" %}
      <h1>{{ pageTitle }}</h1>

      <div class="title">
        <h3>{{ title }}</h3>
        <span class="date">{{ page.date | postDate }}</span>
      </div>

      <div>
        {{ content }}
      </div>
    </div>
  </body>
</html>

{% endblock %}
