<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
	    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>{{ title }} -- codedump.ch</title>
        <link rel="stylesheet" href="/bundle.css">
    </head>
    <body class="blog">
        <div>
            <h1>{{ title }}</h1>

            <em class="date">{{ page.date | postDate }}</em>

            <div>
                {{ content }}
            </div>
        </div>
    </body>
</html>
