<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
	    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>{{ blogTitle }} -- codedump.ch</title>
        <link rel="stylesheet" href="/bundle.css">
    </head>
    <body>
        <h1>{{ blogTitle }}</h1>

        {{ content }}
    </body>
</html>
