<div class="tagList">
  <ul>
    {% assign taglist = tags | filterTagList %}
    {% for tag in taglist %}
      <li>
        <a href="/blog/tags/{{ tag | slugify}}" class="post-tag">{{ tag }}</a>
      </li>
    {% endfor %}
  </ul>
</div>
