<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
      {{ title }}
      -- codedump.ch
    </title>
    <link rel="stylesheet" href="/bundle.css">
    <script src="https://player.vimeo.com/api/player.js"></script>
  </head>
  <body class="blog">
    <div>
      <h1>{{ pageTitle }}</h1>

      <div class="title">
        <h3>{{ title }}</h3>
        <span class="date">{{ page.date | postDate }}</span>
      </div>

      {% include 'vimeoplayer' with videoKey %}
    </div>
  </body>
</html>
