<div class="iframe-container">
  <iframe
    class="iframe"
    src="https://www.youtube.com/embed/{{ videoKey }}?si=BctHxfPGM8PYCXXV&start={{ time }}"
    title="YouTube video player"
    frameborder="0"
    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
    referrerpolicy="strict-origin-when-cross-origin"
    allowfullscreen
  ></iframe>
</div>
